/* Site Overrides */

.bg-dark {
    background-color: #5a1205 !important;
}

.tagline {
	color: #fff;
}

#headernote {
    background-color: #c7ced5;
    color: #174068;
}

.navbar {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 0px;
}

.navbar-nav .dropdown-menu {
    background-color: #5a1205;
}

.footer-text-left {
	text-align: left;
}

.templetimesstyletop {
	color: #94a1e3;
}

.templetimesstylebottom {
	color: #5dd095;
}

@media (max-width: 767px) {
	.navbar-nav .dropdown-menu {
    	background-color: #5a1205;
	}

	.footer-text-left {
		text-align: center;
	}

	.footer-text-list-style {
		list-style-type: none;
		margin-left: -34px;
	}

}

a.donatebtn {
	color: #ffe301 !important;
}

a.kitchenbtn {
	color: #5afd1f !important;
}

.dropdown-item {
	color: #fff;
}

.titlebar {
	margin-top: 10px;
}

.pagebodycontent {
	border-top: 2px solid red;
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar {
	height: 40px;
}

.marketing {

}

div.navbar-collapse.collapse.show {
    z-index: 99999;
    background-color: #5a1205;
    position: absolute;
    top: 40px;
    left: 5px;
    width: 90%;
}

div.navbar-collapse.collapse.show ul{
    padding-left: 20px;
}

#myCarousel {
	padding-bottom: 10px;
}

.quicklinkslbl {
	color: #CA7676;
}

.sociallbl {
	color: #fff;
}

.justified {
    position: relative;
    left:50%;
    /*margin-top: 50px;*/
}

.footer-link {
	font-size: 12px;
}

.featurette-divider {
    margin: 3rem 0 !important;
}

/* RoyalSlider */
#sliderone {
  width: 100%;
  height: 465px;
}

/*
#slidertwo {
  width: 100%;
  height: 100%;
}

#sliderthree {
	#height: 552px !important;
	#width: 550px;
	width: 100%;
	height: 100%;
}
*/

/* Sly Vertical Scroller */
#carousel1 {
    width: 100%;			
    height: 275px;
}

.slicksliderval {
	font-size: 1.5rem;
  	line-height: 1.5rem;
}

a.fab {
	text-decoration: none;
}

.mtnaseperator {
	background-color: #5a1205;
	height: 30px;
	border-top-color: #fff;
	border-top-width: medium;
	border-top: white;
	margin-top: 2px;
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.mtnaseperatorline {
	background-color: #5a1205;
	height: 2px;
	border-top-color: #fff;
	border-top-width: medium;
	border-top: white;
	margin-top: 2px;
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.calendarthubmnails {
	max-height: 100px;
	display: flex;
	align-items: center;
}

.caltn {
	max-width: 100%;
  	height: auto;
  	width: 100px;
}
/*------------------------------------*\
    #Footer
\*------------------------------------*/
footer {
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
}

.footer--widget {
	background: #222222;
	padding-top: 25px;
	padding-bottom: 20px;
}

.footer--widget-content h3 {
	color: #ffffff;
	/*font-family: 'Kaushan Script', cursive;*/
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 25px;
}

.footer--widget-content p {
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	margin-bottom: 0;
	color: #dacdcd;
}

.footer--widget-content a {
	font-size: 13px;
	font-weight: 800;
	line-height: 49px;
	/*text-transform: uppercase;*/
	color: #c59d5f;
}

.footer--widget-content a.fab {
	font-size: 30px;
	font-weight: 800;
	line-height: 49px;
	text-transform: uppercase;
	color: #c59d5f;
	background-color: #222;
}

.footer--widget-content a:hover {
	color: #ffffff;
}

.footer--reservation {
	position: relative;
	/*background-color: #141414;*/
	background-color: #6b1919;
	margin: auto;
	z-index: 888;
	border-radius: 3px;
	/*margin-top: -179px;*/
	padding-top: 20px;
}

.footer--reservation-wrapper {
	padding: 14px 5px 10px 5px;
}

.footer--reservation h3 {
	/*font-family: 'Kaushan Script', cursive;*/
	font-size: 28px;
	font-weight: 400;
	line-height: 1;
	color: #ffffff;
	position: relative;
	text-align: center;
	margin-bottom: 24px;
}

.footer--reservation ul {
	margin-bottom: 40px;
}

.footer--reservation ul li {
	text-align: left;
	border-bottom: 1px dashed #49433f;
	padding: 8px 0;
	color: #dacdcd;
}

.footer--reservation ul li span {
	float: right;
}

/* Footer Social */
.footer--social {
	background: #222222;
	padding: 40px 0;
}

.footer--social-icons a {
	width: 42px;
	height: 42px;
	line-height: 42px;
	border-radius: 50%;
	text-align: center;
	background-color: #1c1c1c;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	display: inline-block;
	margin-right: 10px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.footer--social-icons a:last-of-type {
	margin-right: 0;
}

.footer--social-icons a:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

.footer--social-newsletter {
	position: relative;
	margin: 0;
	width: 250px;
}

.footer--social-newsletter .form-control {
	box-shadow: none;
	border: none;
	background-color: #1c1c1c;
	color: #474747;
	font-style: italic;
	width: 250px;
	height: 42px;
	line-height: 42px;
	border-radius: 42px;
	margin: 0;
}
.footer--social-newsletter .form-control::-webkit-input-placeholder {
 color: #474747;
}
.footer--social-newsletter .form-control::-moz-placeholder {
 color: #474747;
}
.footer--social-newsletter .form-control::-ms-input-placeholder {
 color: #474747;
}

.footer--social-newsletter button {
	background-color: transparent;
	border: none;
	line-height: 42px;
	color: #c59d5f;
	position: absolute;
	right: 10px;
	top: 0;
	margin-bottom: 0;
}

/* Footer Copyrights */
.footer--copyright {
	background-color: #141414;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 37px;
	padding-left: 0px;
	position: relative;
}

.footer--copyright span {
	font-size: 13px;
	color: #6b1919;
}

.footer--copyright a {
	color: #c59d5f;
}

/* Footer Contact */
.footer--copyright .contact-info {
	margin-bottom: 20px;
}

.footer--copyright .contact-info span {
	font-size: 14px;
	margin-right: 5px;
	margin-left: 5px;
}

/* Footer #1 */
.footer-1 {
	padding-top: 100px;
}

/* Footer #3 */
.footer-3 .footer--reservation {
	margin-top: -100px;
}

/* Footer #4 */
.footer-4 .footer--social {
	padding: 20px 0 0 0;
}

.footer-4 .footer--widget {
	padding-bottom: 40px;
}

.footer--widget .footer--social-newsletter {
	margin: auto;
}

/* Footer #5 */
.footer-5 .footer--copyright {
	padding: 26px 0;
}

.footer-5 .footer--copyright span,
.footer-5 .footer--copyright a {
	line-height: 39px;
}

/* Footer #6 */
.footer-6 .footer--copyright {
	background-color: #222222;
	padding-top: 20px;
	padding-bottom: 57px;
}

/* Footer #7 */
.footer-7 .footer--widget {
	padding-bottom: 80px;
}

.footer-7 .footer--copyright {
	padding: 45px 0;
}

.footer-7 .footer--copyright p {
	font-size: 14px;
}

/* Footer #8 */
.footer-8 .footer--widget {
	padding-bottom: 70px;
}

.footer-8 .footer--social-newsletter,
.footer-8 .widget--newsletter .form-control {
	width: 100%;
}

/* Footer #10 */
.footer-10 .social-icons a,
.footer-10 .widget--newsletter .form-control {
	border-radius: 3px;
}

.footer-10 .footer--reservation {
	padding-top: 0;
}

.footer-10 .footer--reservation h3 {
	margin-bottom: 0;
	background-color: #c59d5f;
	padding: 26px 0 25px 0;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {

footer .footer--reservation {
	margin-top: 40px;
	margin-bottom: 40px;
	max-width: 320px;
}

.footer--social-icons {
	margin-bottom: 20px;
}

footer .footer--social-newsletter .form-control,
 footer .footer--social-newsletter {
	margin: 0 auto;
}

.footer-8 .footer--social-newsletter,
 .footer-8 .widget--newsletter .form-control {
	width: 250px;
}

footer .text-right,
 footer .text-left {
	text-align: center !important;
}

.footer-1 {
	padding-top: 0;
}

.footer-13 img {
	padding: 20px 0;
}

.footer-3 .footer--reservation {
	margin-top: 0;
}

.footer-3 .divider--shape-10down {
	display: none;
}
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {

.footer-4 .footer--social-icons a {
	width: 25px;
	height: 25px;
	line-height: 25px;
	margin-right: 2px;
}

.footer-4 .footer--social-newsletter,
 .footer-4 .footer--social-newsletter .form-control {
	width: 100%;
}

.footer-8 .footer--social-icons a {
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin-right: 5px;
}
}


/* HR Styles */
/* https://codepen.io/ibrahimjabbari/pen/ozinB */

hr.style1{
	border-top: 1px solid #8c8b8b;
}


hr.style2 {
	border-top: 3px double #8c8b8b;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
}

hr.style4 {
	border-top: 1px dotted #8c8b8b;
}

hr.style5 {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}


hr.style6 {
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}

hr.style7 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}


hr.style8 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
hr.style8:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

hr.style9 {
	border-top: 1px dashed #8c8b8b;
	border-bottom: 1px dashed #fff;
}

hr.style10 {
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
}


hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/images/hr-11.png) repeat-x 0 0;
    border: 0;
}


hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.style15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}

hr.style16 { 
  border-top: 1px dashed #8c8b8b; 
} 
hr.style16:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -12px; 
  left: 40px; 
  padding: 0 3px; 
  background: #f0f0f0; 
  color: #8c8b8b; 
  font-size: 18px; 
}


hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.style17:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}


hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

/* Font-Awesome Social Icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.projTitle {
	color: blue;
	font-weight: bolder;
	font-size: 20px;
}

.projDesc {
	color: green;
	font-weight: bolder;
	font-size: 20px;
}

