---
title: "Maha Sivarathri Celebration"
date: 2020-02-01
draft: false
description: "Murugan Temple - Maha Sivarathri Celebration"
eventDateAsString: "Fri, Feb, 21st, 2020"
expiryDate: 2020-02-23
---
<div>
	<div class="col-lg-12" align="center">
		<img src="/img/events/2020/02/MahaSivarathriFlyer.jpg?rnd=67" class="img-fluid rounded float-center p-2" alt="Maha Sivarathri Celebration">
	</div>
</div>

<div>
	<div class="col-lg-12" align="center">
<pre>		

==========================================================================
To sponsor, you can visit the temple on the day of the event and
sponsor as needed in-person or you can also use the *yellow*
"Donate Now" button available on the webiste menu above.

On the check-out screen on PayPal, enter your purpose as "Abishekam" or 
"Archanai" followed by the sponsorship-item.

Example: "Maha Navarathri - All Four Jama Poosai"

If you provide your email, phone and address,
we will mail you the prasadam by postal-mail.
==========================================================================
We look forward to your participation!

May Lord Murgan Bless you and your family with good health and prosperity
==========================================================================
</pre>
	</div>
</div>