---
title: "Chithira Pournami Vilakku Poojai"
date: 2020-04-29
draft: false
description: "Chithira Pournami Vilakku Poojai Registration Page"
eventDateAsString: "Wed, May 6th, 2020 at 6:30pm"
expiryDate: 2020-05-13
---

<img src="/img/content/2020/05/ChitraPournamiVilakkuPooja.png?rnd=67" class="img-fluid rounded float-center p-2" alt="Chithira Pournami Vilakku Puja">

<div class="row">
  <div class="col-lg-12" align="center">
	<hr>
	<b>Register for Online Vilakku Poojai. Cost will be $9 for each participating person.</b>
	<br/><br/>
	<p><b>System Requirements:</b> A computer, iPad, tablet or smart-phone with <a href='https://zoom.us/' target='_blank'>Zoom software</a> installed would be ideal for the video conferencing. But for folks who do not have a computer or you're computer challenged -- no worries, we have you covered :-) You can still participate by calling into the conference line during the event using a simple telephone. [<i>If you can make a phone call, then you can participate in this event</i>].</p>

	<p><b>The Process:</b> Each participating member will receive a unique Zoom-ID along with a call-in telephone number to sign-in after payment is processed. Poojai will start on Wed, May 6th at 6:30pm over Zoom. Additional directions will be provided by email (or on this page) prior to the event.</p>

	<p><b>How to register:</b> Please add each participant detail and then add them to the cart. After all participants are added, then proceed to "Checkout via PayPal" link below. If you are signing up for multiple members in your household, enter the same email-address. If you are sponsoring for someone else in a different household, then enter their email address for that entry.</p>

	<p><b>Questions:</b> If you have any questions or concerns regarding this event, please contact:<br/><br/>
	<b>Kalpana Ramiah</b> <br/>
	Phone: (703) 856-8593<br/>
	Email: <a href="javascript:location='mailto:\u006b\u0072\u0061\u006d\u0069\u0061\u0068\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d';void 0"><script type="text/javascript">document.write('\u006b\u0072\u0061\u006d\u0069\u0061\u0068\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d')</script></a>
	</p>
	<hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" align="center">
	<b>We have had an overwhelming turn-out and response from our devotees. Thank you on behalf of Murugan Temple! At this point, we are no longer taking any sign-ups for the Vilakku Pooja. We will have another Vilakku Pooja event shortly to accommodate others that couldn't register this time. Please stay tuned.</b>
	<hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" align="center">
	<b style="color: green;">May Lord Muruga Shower His Blessings Upon You And Your Family!</b>
	<hr>
  </div>
</div>

<style>
.card-header {
	background: #ffa700;
	font-size: 18px;
	font-weight: bold;
}

/* CARD DETAILS */

/* SimpleCartJS Formatting */
/*.simpleCart_items table {
	width:100%;
}

.simpleCart_items div div.headerRow div[class*="item-"] {
	float:left;
	width: 20%;
}

.simpleCart_items div div.itemRow div[class*="item-"] {
	float:left;
	width: 20%;
}
*/

.cartdetails_lbl {
	font-weight: bold;
}

.simpleCart_items  {
  display: table;         
  width: auto;         
  /*background-color: #eee;*/         
  /*border: 1px solid #666666;*/         
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}

.simpleCart_items div div.headerRow {
  display: table-row;
  width: auto;
  clear: both;
  color: #198029;
}

.simpleCart_items div div.itemRow {
  display: table-row;
  width: auto;
  clear: both;
}


.simpleCart_items div div.headerRow div[class*="item-"] {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 100px;         
  /*background-color: #ccc;*/
}

.simpleCart_items div div.headerRow div.item-name {        
  width: 300px;
}

.simpleCart_items div div.headerRow div.item-decrement, 
.simpleCart_items div div.headerRow div.item-increment,
.simpleCart_items div div.headerRow div.item-quantity {        
  width: 100px;
}

.simpleCart_items div div.itemRow div[class*="item-"] {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 100px;         
  background-color: #ccc;
}

.simpleCart_items div div.itemRow div.item-name {
  width: 300px;
}

.simpleCart_items div div.itemRow div.item-decrement, 
.simpleCart_items div div.itemRow div.item-increment,
.simpleCart_items div div.itemRow div.item-quantity {        
  width: 100px;
}

.simpleCart_items div div.itemRow div.item-total {        
  
  width: 100px;
}

.simpleCart_items div div.itemRow div.item-remove {        
  width: 100px;
}

.simpleCart_items div div.itemRow div.item-increment {
	padding-right: 60px;
}

.simpleCartTotal_parent {
	padding-left: 396px;
	font-weight: bold;
}

.simpleCart_checkout {
	margin-left: 350px;
}

.simpleCart_empty {
	display: none;
}

@media (max-width: 767px) {
	.simpleCartTotal_parent {
		padding-left: 10px;
		font-weight: bold;
	}

	.simpleCart_checkout {
		margin-left: 10px;
	}

	.cartdetails_lbl, .simpleCart_items {
		display: none;
	}

	.simpleCart_empty {
		display: inline;
	}
}
</style>
