---
title: "Purchase 2020 Beautiful Temple Calendar"
date: 2019-12-03
draft: false
description: "Buy our Murugan Temple Color Calendar"
eventDateAsString: "Sat, Dec. 7th, 2019"
expiryDate: 2019-12-08
---

<img src="/img/events/2019/12/FR19.jpg?rnd=67" class="img-fluid rounded float-center p-2" alt="2019 Annual Fund Raising Dinner">

<div class="row">
  <div class="col-lg-4" align="center">
	<video width="320" height="240" controls>
		<source src="/videos/2019-12-07_Video1.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video> 
  </div>
  <div class="col-lg-4" align="center">
	<video width="320" height="240" controls>
		<source src="/videos/2019-12-07_Video2.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video> 
  </div>
  <div class="col-lg-4" align="center">
	<video width="200" height="250" controls>
		<source src="/videos/2019-12-07_Video3.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video> 
  </div>
</div>
<div>
	<div class="col-lg-12" align="center">
		<ul>
			<li><a href="https://www.thapasya.org/" target="_blank">Thapasya School of Dance</a></li>
			<li><a href="https://www.singerpragathi.com/" target="_blank">Super-Singer Pragathi Guruprasad</a></li>
		</ul>
	</div>
</div>
<div class="row">
  <div class="col-lg-12" align="center">
	<hr>
	<b>Reserve Your Tickets Now & Support Murugan Temple!</b>
	<hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" align="center">
	<div class="carddeck">
		<div class="card simpleCart_shelfItem">
			<h1 class="cardtitle item_name">Family of Four</h1>
			<p class="price item_price">$100</p>
			<p class="qty">Quantity: <input type="number" value="1" class="item_Quantity" style="width: 50px;"></p>
			<p class="cardmsg">Family of Four</p>
			<a class="btn btn-success item_add" href="javascript:;" role="button">Add to Cart</a>
		</div>
		<div class="card simpleCart_shelfItem">
			<h1 class="cardtitle item_name">Individual/Single</h1>
			<p class="price item_price">$30</p>
			<p class="qty">Quantity: <input type="number" value="1" class="item_Quantity" style="width: 50px;"></p>
			<p class="cardmsg">Individual Seats</p>
			<a class="btn btn-success item_add" href="javascript:;" role="button">Add to Cart</a>
		</div>
	</div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12" align="center">
	<hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" align="center">
	<div class="cartdetails_lbl">Shopping Cart Details:</div>

	<div class="simpleCart_items"></div>

	<div class="simpleCartTotal_parent">
	Total: <span class="simpleCart_total"></span>
	</div>
	<a href="javascript:;" class="simpleCart_checkout">Checkout via PayPal</a>
	<a href="javascript:;" class="simpleCart_empty">Clear Cart</a>
  </div>
</div>

<script src="/simplecartjs/simpleCart.min.js"></script>
<script>
simpleCart({
	checkout: { 
		type: "PayPal" , 
		email: "finance@murugantemple.org" 
	},
	currency: 	"USD"
});
</script>
