---
title: "Donate Towards Projects At Murugan Temple"
date: 2019-12-29
draft: false
description: "Find a project that interests you and donate towards the project."
eventDateAsString: "Sat, Dec. 7th, 2019"
expiryDate: 2030-12-08
---

<img src="/img/content/donate-towards-a-project.png?rnd=67" class="img-fluid rounded float-center p-2" alt="Donate Towards A Project">

<div class="row">
  <div class="col-lg-12" align="center">
	<hr>
	<b>At Murugan Temple, you can make a donation towards one or more of the following projects. All contributions/donations are fully tax deductable. Please add the items to the cart and then check-out the cart when you're ready to proceed to the payment screen. Thank you.</b>
	<hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" align="center">
	<b>List of Projects</b>
  </div>
 </div>

<div class="row">
  <div class="col-lg-12" align="center">
	<hr>
  </div>
</div>

<div class="row simpleCart_shelfItem">
  <div class="col-lg-6" align="center">
	<div class="projTitle align-middle item_name">Silver Kavasam Project (for Navagraham)</div>
	<div class="projDesc align-middle">Total Project Cost: $15,000</div>
  </div>
  <div class="col-lg-4 align-middle">
  	<div class="pricediv">Amount: $<input type="text" value="0" class="item_price" style="width: 100px;"></div>
  </div>
  <div class="col-lg-2 align-middle">
	<a class="btn btn-success item_add" href="javascript:;" role="button">Add to Cart</a>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" align="center">
	<hr>
  </div>
</div>

<div class="row simpleCart_shelfItem">
  <div class="col-lg-6" align="center">
	<div class="projTitle align-middle item_name">Silver Kavasam Project (for Kaala Samhara Murthy)</div>
	<div class="projDesc align-middle">Total Project Cost: $11,000</div>
  </div>
  <div class="col-lg-4 align-middle">
  	<div class="pricediv">Amount: $<input type="text" value="0" class="item_price" style="width: 100px;"></div>
  </div>
  <div class="col-lg-2 align-middle">
	<a class="btn btn-success item_add" href="javascript:;" role="button">Add to Cart</a>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" align="center">
	<hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" align="center">
	<div class="cartdetails_lbl">Shopping Cart Details:</div>
  </div>
 </div>
 <div class="row">
 	<div class="col-lg-12 simpleCart_items" align="center">
 	</div>
 </div>
 <div class="row">
	<div class="col-lg-12" align="center">
		<div class="simpleCartTotal_parent">
		Total: <span class="simpleCart_total"></span>
		</div>
	</div>
 </div>
 <div class="row">
  <div class="col-lg-12" align="center">
	<a href="javascript:;" class="simpleCart_checkout btn btn-success">Checkout via PayPal</a>
	<a href="javascript:;" class="simpleCart_empty">Clear Cart</a>
  </div>
</div>


<!-- <div class="row">
  <div class="col-lg-12" align="center">
	<div class="cartdetails_lbl">Shopping Cart Details:</div>

	<div class="simpleCart_items"></div>

	<div class="simpleCartTotal_parent">
	Total: <span class="simpleCart_total"></span>
	</div>
	<a href="javascript:;" class="simpleCart_checkout">Checkout via PayPal</a>
	<a href="javascript:;" class="simpleCart_empty">Clear Cart</a>
  </div>
</div> -->

<script src="/simplecartjs/simpleCart.min.js"></script>
<script>
simpleCart({
	checkout: { 
		type: "PayPal" , 
		email: "finance@murugantemple.org" 
	},
	currency: 	"USD"
});
</script>
