---
title: "Monthly Donation"
date: 2020-04-22
draft: false
---

<br>
<img src="/img/content/MurugaPatron-banner_v4.png"/>

<p><br>You can setup a monthly donation through your bank by filling out the ACH form <a href="/docs/MTNA_ACH_Form_2020.pdf" target="_blank">here</a></p>

<p>We thank you on behalf of Murugan Temple. May Lord Murga bless you and your family with an abundance of wealth and happiness!</p>

<br/>
