<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Murugan Temple of North America in Lanham, Maryland, USA - (301) 552-4889">
    <meta name="author" content="Venkatt Guhesan">

    <title>Murugan Temple of North America - {{ .Title }} - (301) 552-4889</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/site.css?rnd=7678" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/swiper.min.css"> -->

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- basic stylesheet -->
    <link rel="stylesheet" href="/royalslider/royalslider.css">

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="/magnific/magnific-popup.css">


    <!-- skin stylesheet (change it if you use another) -->
    <link rel="stylesheet" href="/royalslider/skins/default/rs-default.css">

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="/touchcarousel/touchcarousel.css" />
    <!-- Skin Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/touchcarousel/black-and-white-skin/black-and-white-skin.css" />


    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/fontawesome/css/all.min.css" rel="stylesheet">

    <script type="text/javascript">
      var origin_mod = window.location.origin + '/';
      // Count the number of slashes and if it equals 3 then we are on home-page
      var slashCount = (window.location.href.match(/\//g)||[]).length;
      //if (origin_mod == window.location.href.split('#')[0]) {
      if (slashCount == 3) {
        document.write('<meta http-equiv="refresh" content="3600">');
      } 
      else {
        document.write('');
      }
    </script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      /*.swiper-container {
        width: 100%;
        height: 500px;
      }*/

      .swiper-container {
        height: 100%;
      }
      #logo-main {
        display: block;
        margin: 0px auto;
      }
      
    </style>
    
    <!-- scripts -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/js/bootstrap-input-spinner.js"></script> -->

    <!-- <script src="/js/swiper.min.js"></script> -->

    <script type="text/javascript">
      var origin_mod = window.location.origin + '/';
      // Count the number of slashes and if it equals 3 then we are on home-page
      var slashCount = (window.location.href.match(/\//g)||[]).length;
      //if (origin_mod == window.location.href.split('#')[0]) {
      if (slashCount == 3) {
        document.write('<scri'+'pt src="/js/rsconfig-homepage-only.js" type="text/javascript"></'+'script>');
      } 
      else {
        document.write('<scri'+'pt src="/js/rsconfig-non-homepage.js" type="text/javascript"></'+'script>');
      }
    </script>
    <!-- <script src="/js/rsconfig-homepage-only.js"></script> -->
    <!-- Main slider JS script file -->
    <!-- Create it with slider online build tool for better performance. -->
    <script src="/royalslider/jquery.royalslider.min.js"></script>
    <!-- Magnific Popup core JS file -->
    <script src="/magnific/jquery.magnific-popup.js"></script>
    <!-- JS files -->
    <script type="text/javascript" src="/touchcarousel/jquery.touchcarousel-1.3.min.js"></script>

    <script src="/js/slick.min.js"></script>

    <!--
    <script defer src="/fontawesome/js/all.js"></script>
    -->

    <!-- Custom styles for this template -->
    <link href="/css/carousel.css" rel="stylesheet">
    <!-- BootStrap DatePicker -->
    <script src="/js/moment-with-locales.min.js"></script>
    <script src="/flatpickr/flatpickr.js"></script>
    <link href="/flatpickr/flatpickr-dark.css" rel="stylesheet">
    <!-- Noty -->
    <script src="/noty/noty.min.js"></script>
    <link href="/noty/noty.min.css" rel="stylesheet">
    <link href="/noty/animate.css" rel="stylesheet">
  </head>
  <body>
    <header class="" id="headerbar">
      <img id="logo-main" src="/img/Header-Image-MTNA2.jpg?r=8767876" width="100%" alt="Murugan Temple or North America, Lanham, MD USA">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navheader">
        <div class="container justified bg-dark ">
            <!--<a class="navbar-brand" href="/"><img src="/img/MTNACafeLogo.png" style="max-height:40px;"></a>-->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto flex-xs-column">
                  <li class="nav-item ">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#quicklinks">Quick Links</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/events/">Upcoming Events</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Temple
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/about/about-temple">About Temple</a>
                      <a class="dropdown-item" href="/about/administration/">Temple Management</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/about/volunteers/">Volunteer With Us</a>
                      <a class="dropdown-item" href="/about/childrens-school/">Childrens School</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/about/about-auditorium/">Temple Auditorium</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item donatebtn" href="/about/donate-online" target="_blank">Donate Online</a>
                      <a class="dropdown-item donatebtn" href="/about/monthly-donation" target="_blank">Monthly Donation - ACH Form</a>
                      <a class="dropdown-item" href="/about/endowment/">Temple Endowment Fund</a>
                      <a class="dropdown-item" href="/about/donate-towards-projects/">Donate Towards Projects</a>
                      <a class="dropdown-item" href="/about/year-end-statement/">Year-End Statement</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contactus">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link kitchenbtn" href="https://kitchen.murugantemple.org/" target="_blank">Temple Kitchen</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link donatebtn" href="/about/our-services/">Our Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link donatebtn" href="/about/donate-online" target="_blank">Donate Online</a>
                  </li>
                </ul>
                <!--
                <form class="form-inline mt-2 mt-md-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                -->
        </div>
      </nav>
</header>
