{{ partial "parts/top-section.html" . }}

<main role="main">
	  
  <div class="container marketing">
  	{{ $section := .Site.GetPage "section" .Section }}
  	<div class="row">
      <div class="col-lg-12">
      	<h5 class="titlebar">
        {{- .Title -}}
      	</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 pagebodycontent">
      	{{- .Content -}}
      	{{- partial "tags.html" . -}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 pagebodycontent text-center">
        <time id="lastUpdated" class="f6 mv4 dib tracked" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        <b>Last-Updated:</b>&nbsp;{{- .Date.Format "January 2, 2006" -}}
        </time>
        {{/*
          Show "reading time" and "word count" but only if one of the following are true:
          1) A global config `params` value is set `show_reading_time = true`
          2) A section front matter value is set `show_reading_time = true`
          3) A page front matter value is set `show_reading_time = true`
        */}}
      {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
        <span class="f6 mv4 dib tracked"> - {{ .ReadingTime}} minutes read</span>
        <span class="f6 mv4 dib tracked"> - {{ .WordCount}} words</span>
      {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
      	{{ if .Site.DisqusShortname }}
        	{{ template "_internal/disqus.html" . }}
	    {{ end }}
	    {{ if .Site.Params.commentoEnable }}
	    	{{- partial "commento.html" . -}}
	    {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
      	{{- partial "menu-contextual.html" . -}}
      </div>
    </div>
  </div>

{{ partial "parts/bottom-section.html" . }}