{{ partial "parts/top-section.html" . }}
<main role="main">
  <div class="row">
      <div class="col-lg-12" align="center" id="headernote">
        <div class="row">
          <div class="col">
            <b>Murugan Temple - closed for devotees</b>
          </div>
        </div>
        <div class="row d-sm-block d-md-none d-lg-none d-xl-none">
          <div class="col">
            <a class="btn btn-warning btn-sm" href="/about/our-services/">Our Services</a>
            &nbsp;
            <a class="btn btn-warning btn-sm" href="/about/donate-online">Donate Online</a>
          </div>
        </div>
      </div>
  </div>

  <div class="royalSlider rsDefault" id="sliderone">
    
  </div>
  
  <div class="row">
      <div class="col-lg-12 mtnaseperator" align="center" id="">
        Murugan Temple Calendar At A Glance
      </div>
  </div>
  <div class="row">
      <div class="col-lg-12 pt-2 pb-2" align="center" id="">
        <div class="calendarthubmnails d-flex justify-content-center">
          <a href="/img/cal/2020/01.jpg"><img src="/img/cal/tmbnails/01_tn.png" class="caltn img-thumbnail" /></a>
          <a href="/img/cal/2020/02.jpg"><img src="/img/cal/tmbnails/02_tn.png" class="caltn img-thumbnail" /></a>
          <a href="/img/cal/2020/03.jpg"><img src="/img/cal/tmbnails/03_tn.png" class="caltn img-thumbnail" /></a>
          <a href="/img/cal/2020/04.jpg"><img src="/img/cal/tmbnails/04_tn.png" class="caltn img-thumbnail" /></a>
          <a href="/img/cal/2020/05.jpg"><img src="/img/cal/tmbnails/05_tn.png" class="caltn img-thumbnail" /></a>
          <a href="/img/cal/2020/06.jpg"><img src="/img/cal/tmbnails/06_tn.png" class="caltn img-thumbnail" /></a>
          <a href="/img/cal/2020/07.jpg"><img src="/img/cal/tmbnails/07_tn.png" class="caltn img-thumbnail" /></a>
          <a href="/img/cal/2020/08.jpg"><img src="/img/cal/tmbnails/08_tn.png" class="caltn img-thumbnail" /></a>
          <a href="/img/cal/2020/09.jpg"><img src="/img/cal/tmbnails/09_tn.png" class="caltn img-thumbnail" /></a>
          <a href="/img/cal/2020/10.jpg"><img src="/img/cal/tmbnails/10_tn.png" class="caltn img-thumbnail" /></a>
          <a href="/img/cal/2020/11.jpg"><img src="/img/cal/tmbnails/11_tn.png" class="caltn img-thumbnail" /></a>
          <a href="/img/cal/2020/12.jpg"><img src="/img/cal/tmbnails/12_tn.png" class="caltn img-thumbnail" /></a>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-12 mtnaseperatorline" align="center" id="">
        &nbsp;
      </div>
  </div>
  
  <div class="row">
      <div class="col-lg-12" align="center" id="">
        <div class="slider" id="slickslider1">
          <h3 class="slicksliderval">ஓம் சரவண பவ</h3>
          <h3 class="slicksliderval">யாமிருக்க பயம் ஏன்</h3>
          <h3 class="slicksliderval">Our Religious Services</h3>
          <h3 class="slicksliderval">Services: Abhishekam (அபிஷேகம்)</h3>
          <h3 class="slicksliderval">Services: Kavadi (காவிடி)</h3>
          <h3 class="slicksliderval">Services: Phaal Kudam (பால் குடம்)</h3>
          <h3 class="slicksliderval">Services: Annapraasanam (அன்னப்பிரசன்னம்)</h3>
          <h3 class="slicksliderval">Services: Pushpanjali Archana (புஷ்பாஞ்ஜலி அர்ச்சனை)</h3>
          <h3 class="slicksliderval">Services: Ashtotharam Archana (அஷ்டோத்திரம் அர்ச்சனை)</h3>
          <h3 class="slicksliderval">Services: Trishati Archana</h3>
          <h3 class="slicksliderval">Services: Individual Sahasranaama Archana</h3>
          <h3 class="slicksliderval">Services: Bhoomi Puja</h3>
          <h3 class="slicksliderval">Services: Chaula Karma</h3>
          <h3 class="slicksliderval">Services: Griha Pravesam</h3>
          <h3 class="slicksliderval">Services: Griha Shanti</h3>
          <h3 class="slicksliderval">Services: Ganapathi, Aayushya,Mrityunjaya, Pancha Sukta, Rudra Homam(Havan)</h3>
          <h3 class="slicksliderval">Services: Natarajar Abisekam</h3>
          <h3 class="slicksliderval">Services: Navagraha Homam(Havan)</h3>
          <h3 class="slicksliderval">Services: Navarathri (9 days) Chandi Homam</h3>
          <h3 class="slicksliderval">Services: Individual (1 day)  Chandi Homam</h3>
          <h3 class="slicksliderval">Services: Kalyana Utsavam</h3>
          <h3 class="slicksliderval">Services: Naamakaranam</h3>
          <h3 class="slicksliderval">Services: Punyaahavaachanam</h3>
          <h3 class="slicksliderval">Services: Sarpabali</h3>
          <h3 class="slicksliderval">Services: Satyanarayana Puja</h3>
          <h3 class="slicksliderval">Services: Seemantham</h3>
          <h3 class="slicksliderval">Services: Sashtiabdapoorty</h3>
          <h3 class="slicksliderval">Services: Sataabhishekam</h3>
          <h3 class="slicksliderval">Services: Shraadham(sankalpam)</h3>
          <h3 class="slicksliderval">Services: Paaravana Shraadham</h3>
          <h3 class="slicksliderval">Services: Tarpanam (Amaavaasya)</h3>
          <h3 class="slicksliderval">Services: Upanayanam</h3>
          <h3 class="slicksliderval">Services: Upanayanam (2days)</h3>
          <h3 class="slicksliderval">Services: Vaahana Puja</h3>
          <h3 class="slicksliderval">Services: Vidyaarambam</h3>
          <h3 class="slicksliderval">Services: Vivaaham</h3>
          <h3 class="slicksliderval">Services: Santhini Tirumanam</h3>
          <h3 class="slicksliderval">Services: Engagement ceremony</h3>
          <h3 class="slicksliderval">Services: Vizhakku Pooja</h3>
          <h3 class="slicksliderval">Services: Subramaniya Thirukalyanam</h3>
          <h3 class="slicksliderval">Services: Rudhara Homam</h3>
          <h3 class="slicksliderval">Services: Funeral Rites</h3>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-12 mtnaseperatorline" align="center" id="">
        &nbsp;
      </div>
  </div>

  <div class="row no-gutters">
    <div class="col-lg-12" align="center">
      <div id="carousel1" class="touchcarousel black-and-white">     
        <ul class="touchcarousel-container" id="carousel1body">
          
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-lg-12 mtnaseperatorline" align="center" id="">
        &nbsp;
      </div>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
  	{{.Content}}
  		<div class="row">
      <div class="col-lg-12" align="center">
        <h3>Our Temple History & Timeline</h3>
        <p>Murugan Temple of North America (MTNA) is the first temple dedicated to Lord Murugan (Karthikeya) in the United States. Conceived in the 1980′s and opened in 1999, MTNA celebrates all Hindu and Tamil festivals, holidays, and special occasions. We follow the Saivite traditions of pujas, agamas and worship at our temple.</p>

        <p>In addition, the temple provides bhajans, Tamil, and religious classes, devotees from all over the Maryland, Washington, DC region, Virginia and the country visit this traditional Saivite Hindu Temple located in Lanham, MD.</p>
        <p><a href="/about/about-temple/" class="btn btn-warning">Learn More About Our Temple Timeline</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 mtnaseperatorline" align="center" id="">
      &nbsp;
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12" align="center">
        <h3>Our Services</h3>
        <p>Murugan Temple offers all of the religious services required by our devotees. Please click on the link below for an extensive list of all the religious services we offer to our community.</p>
        <p><a href="/about/our-services/" class="btn btn-warning">Religious and Pooja Services</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 mtnaseperatorline" align="center" id="">
      &nbsp;
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12" align="center">
        <h3>Donations</h3>
        <p>Donating online is easy as 1-2-3. Please visit our secure-site for a list of donation options. Clicking the button below will redirect you to our secure-site.</p>
        <p><a href="/about/donate-online/" class="btn btn-warning">Click Here For Donating Now</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 mtnaseperatorline" align="center" id="">
      &nbsp;
      </div>
    </div>

    <a name="catering"></a>
    
    <div class="row">
      <div class="col-lg-12" align="center">
        <h3>Our Murugan Temple Kitchen</h3>
        <p>Murugan Temple of North America has a beautiful kitchen where we make our prasadham with quality ingredients.</p>
        <p><a href="https://kitchen.murugantemple.org/" class="btn btn-warning" alt="kitchen.murugantemple.org" target="_blank">Visit us at kitchen.murugantemple.org</a></p>
      </div>
    </div>

    <hr class="featurette-divider">


    <!-- /END THE FEATURETTES -->
  </div><!-- /.container -->

{{ partial "parts/bottom-section.html" . }}