{{ partial "parts/top-section.html" . }}

<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-4 mb-4">
      	<h3>Murugan Temple Upcoming Events:</h3>
        Below is a list of all upcoming events here at Murugan Temple.
      </div>
    </div>
  </div>  
  <div class="container marketing">
  	{{ partial "parts/list-section.html" . }}
  </div>

{{ partial "parts/bottom-section.html" . }}